<!DOCTYPE html>
<html>
<head>
    <title>YouTube Downloader</title>
</head>
<body>

<h2>YouTube Video Downloader</h2>

<form action="/download" method="post">

    <input type="text" name="url" placeholder="Paste YouTube URL" required>

    <br><br>

    <label>Select Quality:</label>

    <select name="quality">
    <option value="1080">1080p</option>
    <option value="720">720p</option>
    <option value="480">480p</option>
    <option value="360">360p</option>
</select>

    <br><br>

    <button type="submit">Download</button>

</form>

</body>
</html>